:host ::ng-deep .mat-card-subtitle {
  min-height: 14px;
}

.card {
  margin: 0 0 20px;
}

.avatar {
  background-size: cover;
}

.user-profile {
  display: flex;
  justify-content: flex-start;

  & > div {
    padding: 0 10px 0 0;
  }
}
