<mat-card class="card">
  <mat-card-header>
    <div
      class="avatar"
      [ngStyle]="{'background-image': 'url(' + avatar + ')'}"
      mat-card-avatar
    ></div>
    <mat-card-title>{{ comment.name }}</mat-card-title>
    <mat-card-subtitle>{{ comment.email }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{ comment.body }}
  </mat-card-content>
  <mat-card-actions *ngIf="showProfile">
    <button (click)="openProfileModal()" mat-button>Show profile</button>
  </mat-card-actions>
</mat-card>
