<div class="user-profile">
  <div>
    <div
      class="avatar"
      [ngStyle]="{'background-image': 'url(' + data.avatar + ')'}"
      mat-card-avatar
    ></div>
  </div>
  <div>
    <div>Name: {{data.name}}</div>
    <div>Email: {{data.email || 'email not specified'}}</div>
  </div>
</div>

