<mat-toolbar>
  <span>Posts</span>
  <span class="posts-spacer"></span>

  <button mat-button (click)="sortPostsById()" color="primary">
    {{ sort | async }}
  </button>
</mat-toolbar>

<mat-spinner *ngIf="loading" class="spinner"></mat-spinner>

<div *ngIf="!loading">
  <app-post-card *ngFor="let post of posts | async" [post]="post" [url]="url"></app-post-card>
</div>
