<mat-spinner *ngIf="postLoading || commentsLoading" class="spinner"></mat-spinner>

<div *ngIf="!postLoading && !commentsLoading">
  <div class="back-button">
    <a mat-raised-button [routerLink]="url" class="margin" color="primary">Back</a>
  </div>

  <app-post-card [post]="post"></app-post-card>

  <mat-toolbar>Comments</mat-toolbar>

  <app-comment-card
    *ngFor="let comment of comments"
    [comment]="comment"
    class="margin"></app-comment-card>
</div>
