.align-right {
  text-align: right;
}

.container {
  display: flex;
}

.col {
  padding: 0 15px;
  width: 50%;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}
