<form [formGroup]="data" (ngSubmit)="onSubmit()">
  <div class="container">
    <mat-form-field class="col">
      <mat-label>Name</mat-label>
      <input [formControl]="nameControl" matInput required>
    </mat-form-field>

    <mat-form-field class="col">
      <mat-label>Email</mat-label>
      <input [formControl]="emailControl" matInput>
    </mat-form-field>
  </div>

  <mat-form-field style="width: 100%;">
    <mat-label>Body</mat-label>
    <textarea [formControl]="bodyControl" matInput required></textarea>
  </mat-form-field>

  <div class="align-right">
    <button
      type="submit"
      color="primary"
      [disabled]="!data.valid"
      mat-raised-button
    >
      Submit
    </button>
  </div>
</form>
