<mat-list>
  <a [routerLink]="item.url" *ngFor="let item of items" class="menu-item">
    <mat-list-item>
      {{ item.label }}
    </mat-list-item>
    <mat-divider></mat-divider>
  </a>
</mat-list>
