<div class="container">
  <div class="col-1">
    <router-outlet></router-outlet>
  </div>
  <div class="col-2">
    <mat-card>
      <app-menu-vertical></app-menu-vertical>
    </mat-card>
  </div>
</div>
