<mat-card class="margin">
  <app-quest-book-form (questBookRecord)="appendRecords($event)"></app-quest-book-form>
</mat-card>

<mat-toolbar>Records</mat-toolbar>
<app-comment-card
  *ngFor="let record of records"
  [comment]="record"
  [showProfile]="true"
  class="margin"></app-comment-card>
