.card {
  margin: 0 0 20px;
}

.avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
