<mat-card class="card">
  <mat-card-title>{{ post.title }}</mat-card-title>
  <mat-card-content>
    {{ post.body }}
  </mat-card-content>
  <mat-card-actions *ngIf="url" class="actions">
    <a mat-button [routerLink]="url + '/' + post.id">Open</a>
    <div>
      <ngx-rating [(ngModel)]="post.rating"></ngx-rating>
    </div>
  </mat-card-actions>
</mat-card>
